.modal {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1C1C21;
    width: 720px;
    min-height: 500px;

    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;

    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
        0px 16px 24px rgba(0, 0, 0, 0.04),
        0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    z-index: 999;
}

.buttonClose {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 18px;
    height: 18px;
    border: none;
    background-color: #1C1C21;
    cursor: pointer;
    flex: 0 1 auto;
}

.header {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: end;

}

.label {
    flex: 1 0;
    color: #F2F2F3;
}

.children {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}