.main {
    width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.ingredientsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-height: 556px;
    overflow-y: scroll;
}

.done {
    display: flex;
    justify-content: end;
    align-items: center;
}